html
    body
        form.article(method='post',action='/admin/new')
            input(type='hidden',name='pw',value='yolo')
            input(type='text',name='title',value='')
            input(type='text',name='category',value='')
            input(type='text',name='content',value='')
            input(type='submit',value='Submit')