html
    body
        h1= category
        if articles.length
            each article in articles
                a(href='/'+article.category+'/'+article.id)= article.title
                p= article.content.substr(0,200)+'...'
        else
            p looks like there are no articles for this category